In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('fraud_detection_bank_dataset.csv')

In [21]:
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,9,1354,0,18,0,1,7,9,0,0,...,0,0,0,1,1,0,0,0,49,1
1,0,239,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,0,260,0,4,0,3,6,0,0,0,...,0,0,0,1,1,0,0,0,56,1
3,17,682,0,1,0,0,8,17,0,0,...,0,1,0,1,1,0,0,0,65,1
4,1,540,0,2,0,1,7,1,0,0,...,0,0,0,1,1,0,0,0,175,1

In [22]:
df.isnull().sum().sum()

0

In [23]:
df.targets.value_counts(normalize=True)

0    0.734317
1    0.265683
Name: targets, dtype: float64

In [24]:
#split dataset

X=df.loc[:, df.columns != 'targets'] #features
y=df['targets'] #target

In [25]:
#split train and test data
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=2)

In [30]:
from sklearn.svm import SVC

model = SVC(class_weight='balanced')

model.fit(X_train,y_train)

SVC(class_weight='balanced')

In [31]:
#perfromance test on train data

from sklearn.metrics import classification_report,confusion_matrix

y_train_pred=model.predict(X_train)

print(classification_report(y_train,y_train_pred))
print('--------------------------------------------------')
print(confusion_matrix(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.91      0.23      0.37     10507
           1       0.31      0.93      0.46      3820

    accuracy                           0.42     14327
   macro avg       0.61      0.58      0.42     14327
weighted avg       0.75      0.42      0.39     14327

--------------------------------------------------
[[2441 8066]
 [ 255 3565]]

In [32]:
#on test data
y_pred=model.predict(X_test)

print(classification_report(y_test,y_pred))
print('--------------------------------------------------')
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.23      0.36      4523
           1       0.30      0.94      0.46      1618

    accuracy                           0.41      6141
   macro avg       0.61      0.58      0.41      6141
weighted avg       0.75      0.41      0.39      6141

--------------------------------------------------
[[1027 3496]
 [ 101 1517]]